<%= form_with(model: ingredient_group, local: true) do |form| %>
  <% if ingredient_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient_group.errors.count, "error") %> prohibited this ingredient_group from being saved:</h2>

      <ul>
      <% ingredient_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :recipe %>
    <%= form.text_field :recipe %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
