<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ingredient_group.title %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @ingredient_group.recipe %>
</p>

<%= link_to 'Edit', edit_ingredient_group_path(@ingredient_group) %> |
<%= link_to 'Back', ingredient_groups_path %>
