<%= form_with(model: recipe, local: true) do |form| %>
<div class="columns">
<div class="column is-one-third">
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <%= form.label :course_id, class: 'label' %>
        <div class="select">
          <%= form.select :course_id, course_options %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column is-two-thirds">
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :info, class: 'label' %>
    <%= form.text_area :info, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :public, class: 'label' do %>
    <%= form.check_box :public %>
    <%= Recipe.human_attribute_name(:public) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-info is-pulled-right' %>
  </div>
</div>
</div>
<% end %>
