<div class="ingredient-group-nested-fields box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label t('.group_title'), class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :title, class: 'input is-fullwidth' %>
        </div>
      </div>
      <div class="field is-narrow">
        <div class="control">
          <%= link_to_remove_association f, wrapper_class: 'ingredient-group-nested-fields', class: 'button is-danger is-outlined' do %>
          <span><%= t('.delete_ingredient_group') %></span>
          <span class="icon is-small">
            <i class="fa fa-times"></i>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= f.fields_for :ingredients do |i_form| %>
  <% render 'ingredient_fields', f: i_form %>
  <% end %>
  <div class="buttons has-addons is-right">
    <%= link_to_add_association f, :ingredients, class: 'button is-info' do %>
    <span class="icon">
      <i class="fa fa-plus-circle"></i>
    </span>
    <span><%= t('.add_ingredient')%></span>
    <% end %>
  </div>
</div>
