<div class="ingredient-group-nested-fields box" id="ingredient_group_<%= f.index %>">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label t('.group_title'), class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :title, class: 'input is-fullwidth', placeholder: 'batter ingredients' %>
        </div>
      </div>
      <div class="field is-narrow">
        <div class="control">
          <%= link_to ingredient_group_path(f.index),
            data: {turbo_method: :delete, turbo_stream: true},
            class: 'button is-danger is-outlined' do %>
          <span><%= t('.delete_ingredient_group') %></span>
          <span class="icon is-small">
            <i class="fa fa-times"></i>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= f.fields_for :ingredients do |i_form| %>
    <% render 'recipes/ingredient_fields', f: i_form , ig_idx: f.index%>
  <% end %>
  <div id="<%= f.index%>_ingredients" class="buttons has-addons is-right">
    <%= link_to ingredients_path(ingredient_group_index: f.index, _method: "post"),
      data: {turbo_method: :post, turbo_stream: true},
      id: "add-#{f.index}-ingredient",
    class: "button is-info add_fields" do %>
      <span class="icon">
        <i class="fa fa-plus-circle"></i>
      </span>
      <span><%= t('.add_ingredient')%></span>
    <% end %>
  </div>
</div>
