<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-one-quarter">
        <nav class="panel">
          <p class="panel-heading">
          Filters
          </p>

          <div class="panel-block">
            <aside class="menu">
              <p class="menu-label">
              Courses
              </p>
              <ul class="menu-list">
                <%= courses_menu %>
              </ul>
              <p class="menu-label">
              Cuisines
              </p>
              <ul class="menu-list">
                <%= cuisines_menu %>
              </ul>
              <p class="menu-label">
              Ordering
              </p>
              <ul class="menu-list">
                <%= ordering_menu %>
              </ul>
            </aside>
          </div>
        </nav>
      </div>
      <div class="column is-three-quarters">
        <div class="panel">
          <%= form_tag(recipes_path, method: 'get', local: true, class: 'control') do |form| %>
          <% @safe_params.except(:search).each do |k, v| %>
          <%= hidden_field_tag k, v %>
          <% end %>
          <div class="field has-addons">
            <p class="control is-expanded">
            <%= text_field_tag :search, params[:search], placeholder: 'Enter a title', class: 'input is-fullwidth' %>
            </p>
            <p class="control">
            <%= submit_tag 'Search', class: 'button is-primary' %>
            </p>
          </div>
          <% end %>
        </div>
        <div class="columns is-multiline">
          <% @recipes.each do |recipe| %>
          <% present(recipe) do |recipe_presenter| %>
          <div class="column is-one-quarter">
            <div class="card medium round">
              <div class="card-image ">
                <figure class="image">
                  <% if recipe.photo.attached? %>
                  <%= image_tag recipe.main_picture_variant, alt: 'image' %>
                  <% else %>
                  <%= image_tag "/background.png", alt: 'image' %>
                  <% end %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-5 no-padding ellipsed-title"><%= link_to recipe.title, short_account_recipe_path(recipe.account, recipe), title: recipe.title %></p>
                  </div>
                </div>
                <div class="content">
                  <p class="ellipsed-info"><%= recipe.info %><br />
                  <i class="fa fa-clock-o" aria-hidden="true" title="<%= t(".total_time") %>"></i> <%= recipe_presenter.total_time %> <%= t('units.minutes') %></p>
                  <p class="is-pulled-right"><small><%= l(recipe.created_at.to_date) %></small></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <%= paginate @recipes %>
      </div>
    </div>
  </div>
</div>
