<div class="container">
  <div class="section">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="panel">
          <%= form_tag(recipes_path, method: 'get', local: true, class: 'control') do |form| %>
          <% @safe_params.except(:search).each do |k, v| %>
          <%= hidden_field_tag k, v %>
          <% end %>
          <div class="field has-addons">
            <p class="control is-expanded">
            <%= text_field_tag :search, params[:search], placeholder: 'Enter a title', class: 'input is-fullwidth' %>
            </p>
            <p class="control">
            <%= submit_tag 'Search', class: 'button is-primary' %>
            </p>
            <p class="control is-hidden-desktop">
            <a class="button is-outlined" id="toggle-filters" aria-label="<%= t(".toggle_filters_box") %>">
              <span class="icon is-small"><i class="fa fa-filter"></i></span>
            </a>
          </p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="column is-3-desktop is-12-touch is-hidden-touch" id="filters-box">
        <nav class="panel">
          <p class="panel-heading">
          Filters
          </p>

          <div class="panel-block">
            <aside class="menu">
              <p class="menu-label">
              Courses
              </p>
              <ul class="menu-list">
                <%= courses_menu %>
              </ul>
              <p class="menu-label">
              Cuisines
              </p>
              <ul class="menu-list">
                <%= cuisines_menu %>
              </ul>
              <p class="menu-label">
              Ordering
              </p>
              <ul class="menu-list">
                <%= ordering_menu %>
              </ul>
            </aside>
          </div>
        </nav>
      </div>
      <div class="column is-12-touch is-9-desktop">
        <div class="columns is-multiline">
          <% @recipes.each do |recipe| %>
          <div class="column is-one-quarter">
            <%= render partial: "shared/recipe_card", locals: {recipe: recipe}  %>
          </div>
          <% end %>
        </div>
        <%= paginate @recipes %>
      </div>
    </div>
  </div>
</div>
