<div class="container">
  <div class="section">
    <div class="columns">
      <div class="container is-expanded">
        <%= form_tag(recipes_path, method: 'get', local: true) do |form| %>
        <div class="field has-addons">
          <p class="control is-expanded">
          <%= text_field_tag :search, params[:search], placeholder: 'Enter a title', class: 'input is-fullwidth' %>
          </p>
          <p class="control">
          <%= submit_tag 'Search', class: 'button is-primary' %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="columns is-multiline">
    <% @recipes.each do |recipe| %>
      <div class="column is-one-quarter">
        <div class="card medium round">
          <div class="card-image ">
            <figure class="image">
              <%= image_tag "https://picsum.photos/306/172?image=#{recipe.id}", alt: 'image' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-5 no-padding ellipsed-title"><%= link_to recipe.title, recipe %></p>
              </div>
            </div>
            <div class="content">
              <p class="ellipsed-info"><%= recipe.info %></p>
              <p class="is-pulled-right"><small><%= l(recipe.created_at.to_date) %></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @recipes %>
  </div>
</div>
