<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ingredient.title %>
</p>

<p>
  <strong>Ingredient group:</strong>
  <%= @ingredient.ingredient_group %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ingredient.unit %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
