<%= form_with(model: instruction_group, local: true) do |form| %>
  <% if instruction_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instruction_group.errors.count, "error") %> prohibited this instruction_group from being saved:</h2>

      <ul>
      <% instruction_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
