<p id="notice"><%= notice %></p>

<h1>Instruction Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruction_groups.each do |instruction_group| %>
      <tr>
        <td><%= instruction_group.title %></td>
        <td><%= instruction_group.recipe %></td>
        <td><%= link_to 'Show', instruction_group %></td>
        <td><%= link_to 'Edit', edit_instruction_group_path(instruction_group) %></td>
        <td><%= link_to 'Destroy', instruction_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instruction Group', new_instruction_group_path %>
