<% if unit.errors.any? %>
<div class="notification is-danger">
  <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

  <ul>
    <% unit.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: unit, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-info'%>
  </div>
<% end %>
