<div class="container">
  <div class="section">
    <p id="notice"><%= notice %></p>

    <h1 class="title"><%= Unit.model_name.human %></h1>

    <table class="table">
      <thead>
        <tr>
          <th><%= Unit.human_attribute_name("title") %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @units.each do |unit| %>
          <tr>
            <td><%= unit.title %></td>
            <td><%= link_to t(".show"), unit %></td>
            <td><%= link_to t(".edit"), edit_unit_path(unit) %></td>
            <td><%= link_to t(".destroy"), unit, method: :delete, data: { confirm: t(".are_you_sure") } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to t(".new"), new_unit_path, class: "button is-primary"%>
  </div>
</div>
