<!DOCTYPE html>
<html>
  <head>
    <title>DiningCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          Dining Car
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active">
            Home
          </a>
          <% if current_user %>
          <div class="navbar-item">
            <%= link_to 'Logout', destroy_user_session_url, method: :delete, class: 'navbar-item' %>
          </div>
          <% else %>
          <div class="navbar-item">
            <%= link_to 'Login', new_user_session_path, class: 'navbar-item' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
