<!DOCTYPE html>
<html>
  <head>
    <title>DiningCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css" integrity="sha256-sX8HLspqYoXVPetzJRE4wPhIhDBu2NB0kYpufzkQSms=" crossorigin="anonymous">
  </head>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          Dining Car
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <%= link_to t(:browse_recipes), :recipes, class: 'navbar-item' %>
          <% if current_user %>
          <%= link_to t(:create_recipe), new_recipe_path, class: 'navbar-item' %>
          <%= link_to 'Logout', destroy_user_session_url, method: :delete, class: 'navbar-item' %>
          <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        <strong>Dining Car</strong>. The source code is licensed <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0</a>.<br />
        You can contribute or create issues at the project page <a href="https://github/dining-car/dining-car">dining-car/dining-car</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
