<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dining Car" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.ico" type="image/ico">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Dining Car
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <%= link_to t(:browse_recipes), :recipes, class: 'navbar-item' %>
          <% if current_account %>
          <%= link_to t(:create_recipe), new_account_recipe_path(current_account), class: 'navbar-item' %>
          <%= link_to 'Logout', destroy_user_session_url, data: { turbo_method: :delete }, class: 'navbar-item' %>
          <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        <strong>Dining Car</strong>. <%= t("layouts.footer.source_code_license_html") %><br />
        <%= t("layouts.footer.contribute_or_issues_html") %>
        </p>
      </div>
    </footer>
  </body>
</html>
