<!DOCTYPE html>
<html>
  <head>
    <title>DiningCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <section class="hero is-login is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                Dining Car
              </a>
              <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to t(:browse_recipes), :recipes, class: 'navbar-item' %>
                <% if current_user %>
                <%= link_to t(:create_recipe), new_recipe_path, class: 'navbar-item' %>
                <%= link_to 'Logout', destroy_user_session_url, data: { turbo_method: :delete }, class: 'navbar-item' %>
                <% else %>
                <%= link_to 'Login', new_user_session_path, class: 'navbar-item' %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    <div class="column is-4 is-offset-4 has-text-centered">
      <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
      <% end %>
    </div>
    <div class="hero-body">
    <%= yield %>
    </div>
    <footer class="hero-foot">
      <div class="content has-text-centered">
        <p>
        <strong>Dining Car</strong>. <%= t("layouts.footer.source_code_license_html") %><br />
        <%= t("layouts.footer.contribute_or_issues_html") %>
        </p>
      </div>
    </footer>
    </section>
  </body>
</html>
