<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns is-multiline">
          <div class="column is-full">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="https://picsum.photos/128/128">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4"><%= @account.display_name %></p>
                    <p class="subtitle is-6"><%= @account.username %></p>
                  </div>
                </div>
                <div class="content">
                  <%= @account.note %>
                </div>
              </div>
            </div>
          </div>
          <% @recipes.each do |recipe| %>
          <div class="column is-one-quarter">
            <div class="card medium round">
              <div class="card-image ">
                <figure class="image">
                  <% if recipe.photo.attached? %>
                  <%= image_tag recipe.photo, alt: 'image' %>
                  <% else %>
                  <%= image_tag "/background.png", alt: 'image' %>
                  <% end %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-5 no-padding ellipsed-title"><%= link_to recipe.title, short_account_recipe_path(recipe.account, recipe) %></p>
                  </div>
                </div>
                <div class="content">
                  <p class="ellipsed-info"><%= recipe.info %></p>
                  <p class="is-pulled-right"><small><%= l(recipe.created_at.to_date) %></small></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <%= link_to t('views.pagination.previous').html_safe, short_account_url(@account, page: previous_page), rel: 'prev', class: 'pagination-previous' unless current_page_first? %>
        <%= link_to t('views.pagination.next').html_safe, short_account_url(@account, page: next_page), rel: 'next', class: 'pagination-next' unless current_page_last? %>
      </div>
    </div>
  </div>
</div>
